{
  "swagger": "2.0",
  "info": {
    "description": "Git Hub API V3",
    "version": "1.0.0",
    "title": "GitHubAPI"
  },
  "host": "api.github.com",
  "basePath": "/v3",
  "tags": [
    {
      "name": "Search",
      "description": "Search API",
      "externalDocs": {
        "description": "Docs",
        "url": "https://docs.github.com/en/rest/reference/search"
      }
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/search/users": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search users",
        "description": "",
        "operationId": "requestSearchUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "description": "Header"
          },
          {
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string",
            "description": "The query contains one or more search keywords and qualifiers. "
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string",
            "description": "Sorts the results of your query by number of followers or repositories, or when the person joined GitHub. "
          },
          {
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string",
            "description": "Determines whether the first search result returned is the highest number of matches (desc) or lowest number of matches (asc). This parameter is ignored unless you provide sort. "
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer",
            "description": "Results per page (max 100) "
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "description": "Page number of the results to fetch. "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SearchUserResponse"
            }
          },
          "304": {
            "description": "Not Modified"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    }
  },
  "definitions": {
    "SearchUserResponse": {
      "type": "object",
      "properties": {
        "total_count": {
          "type": "integer",
          "format": "int64"
        },
        "incomplete_results": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchUserItem"
          }
        }
      }
    },
    "SearchUserItem": {
      "type": "object",
      "properties": {
        "login": {
          "type": "string",
          "example": "mojombo"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "node_id": {
          "type": "string",
          "example": "MDQ6VXNlcjE="
        },
        "avatar_url": {
          "type": "string",
          "example": "https://secure.gravatar.com/avatar/25c7c18223fb42a4c6ae1c8db6f50f9b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"
        },
        "gravatar_id": {
          "type": "string",
          "example": ""
        },
        "url": {
          "type": "string",
          "example": "https://api.github.com/users/mojombo"
        },
        "html_url": {
          "type": "string",
          "description": ""
        },
        "followers_url": {
          "type": "string",
          "description": ""
        },
        "subscriptions_url": {
          "type": "string",
          "description": ""
        },
        "organizations_url": {
          "type": "string",
          "description": ""
        },
        "repos_url": {
          "type": "string",
          "description": ""
        },
        "received_events_url": {
          "type": "string",
          "description": ""
        },
        "type": {
          "type": "string",
          "description": ""
        },
        "score": {
          "type": "integer",
          "format": "int64"
        },
        "following_url": {
          "type": "string",
          "description": ""
        },
        "gists_url": {
          "type": "string",
          "description": ""
        },
        "starred_url": {
          "type": "string",
          "description": ""
        },
        "events_url": {
          "type": "string",
          "description": ""
        },
        "site_admin": {
          "type": "boolean"
        }
      }
    }
  }
}